body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  height: 100vh;
  background: radial-gradient(circle, #ffffff, #94ffe4ab);




}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.829);
  text-shadow: 2px 2px 3px rgba(15, 167, 187, 0.432);
  font-family: "Anonymous Pro";
}

